
		(instance (rename outZ0Z_0 "out[0]") (viewRef PRIM (cellRef FD (libraryRef UNILIB)))
          )
          (instance (rename outZ0Z_1 "out[1]") (viewRef PRIM (cellRef FD (libraryRef UNILIB)))
)
          (instance clk_ibuf (viewRef PRIM (cellRef BUFG (libraryRef VIRTEX)))
          )
          (instance clk_ibuf_iso (viewRef PRIM (cellRef IBUFG (libraryRef VIRTEX)))
          )
          (instance (rename out_obuf_1 "out_obuf[1]") (viewRef PRIM (cellRef OBUF (libraryRef VIRTEX)))
          )
          (instance (rename out_obuf_0 "out_obuf[0]") (viewRef PRIM (cellRef OBUF (libraryRef VIRTEX)))
          )
          (instance scan_out_obuf (viewRef PRIM (cellRef OBUF (libraryRef VIRTEX)))
          )
          (instance rst_ibuf (viewRef PRIM (cellRef IBUF (libraryRef VIRTEX)))
          )
          (instance scan_in_ibuf (viewRef PRIM (cellRef IBUF (libraryRef VIRTEX)))
          )
          (instance scan_en_ibuf (viewRef PRIM (cellRef IBUF (libraryRef VIRTEX)))
          )
          (instance (rename inb_ibuf_1 "inb_ibuf[1]") (viewRef PRIM (cellRef IBUF (libraryRef VIRTEX)))
          )
          (instance (rename inb_ibuf_0 "inb_ibuf[0]") (viewRef PRIM (cellRef IBUF (libraryRef VIRTEX)))
          )
          (instance (rename ina_ibuf_1 "ina_ibuf[1]") (viewRef PRIM (cellRef IBUF (libraryRef VIRTEX)))
          )
          (instance (rename ina_ibuf_0 "ina_ibuf[0]") (viewRef PRIM (cellRef IBUF (libraryRef VIRTEX)))
          )
