(library work
    (edifLevel 0)
    (technology (numberDefinition ))
    (cell and_2bits (cellType GENERIC)
       (view verilog (viewType NETLIST)
         (interface
           (port (array (rename ina "ina[1:0]") 2) (direction INPUT))
           (port (array (rename inb "inb[1:0]") 2) (direction INPUT))
           (port (array (rename out "out[1:0]") 2) (direction OUTPUT))
           (port clk (direction INPUT))
           (port scan_en (direction INPUT))
           (port scan_in (direction INPUT))
           (port scan_out (direction OUTPUT))
           (port rst (direction INPUT))
         )
         (contents
        
  (instance (rename outZ0Z_0 "out[0]") (viewRef PRIM (cellRef FD (libraryRef UNILIB)))
          )
          (instance (rename outZ0Z_1 "out[1]") (viewRef PRIM (cellRef FD (libraryRef UNILIB)))
          )
          (instance (rename out_5_e_1 "out_5_e[1]") (viewRef PRIM (cellRef LUT5 (libraryRef VIRTEXR)))
           (property INIT (string "32'h0000F808"))
          )
          (instance (rename out_5_e_0 "out_5_e[0]") (viewRef PRIM (cellRef LUT5 (libraryRef VIRTEXR)))
           (property INIT (string "32'h0000F808"))
          )
          (instance clk_ibuf (viewRef PRIM (cellRef BUFG (libraryRef VIRTEX)))
          )
          (instance clk_ibuf_iso (viewRef PRIM (cellRef IBUFG (libraryRef VIRTEX)))
          )
          (instance (rename out_obuf_1 "out_obuf[1]") (viewRef PRIM (cellRef OBUF (libraryRef VIRTEX)))
          )
          (instance (rename out_obuf_0 "out_obuf[0]") (viewRef PRIM (cellRef OBUF (libraryRef VIRTEX)))
          )
          (instance scan_out_obuf (viewRef PRIM (cellRef OBUF (libraryRef VIRTEX)))
          )
          (instance rst_ibuf (viewRef PRIM (cellRef IBUF (libraryRef VIRTEX)))
          )
          (instance scan_in_ibuf (viewRef PRIM (cellRef IBUF (libraryRef VIRTEX)))
          )
          (instance scan_en_ibuf (viewRef PRIM (cellRef IBUF (libraryRef VIRTEX)))
          )
          (instance (rename inb_ibuf_1 "inb_ibuf[1]") (viewRef PRIM (cellRef IBUF (libraryRef VIRTEX)))
          )
          (instance (rename inb_ibuf_0 "inb_ibuf[0]") (viewRef PRIM (cellRef IBUF (libraryRef VIRTEX)))
          )
          (instance (rename ina_ibuf_1 "ina_ibuf[1]") (viewRef PRIM (cellRef IBUF (libraryRef VIRTEX)))
          )
          (instance (rename ina_ibuf_0 "ina_ibuf[0]") (viewRef PRIM (cellRef IBUF (libraryRef VIRTEX)))
          )
          (net clk_c (joined
           (portRef O (instanceRef clk_ibuf))
           (portRef C (instanceRef outZ0Z_1))
           (portRef C (instanceRef outZ0Z_0))
          ))
          (net clk (joined
           (portRef clk)
           (portRef I (instanceRef clk_ibuf_iso))
          ))
          (net (rename ina_c_0 "ina_c[0]") (joined
           (portRef O (instanceRef ina_ibuf_0))
           (portRef I0 (instanceRef out_5_e_0))
          ))
          (net (rename ina_0 "ina[0]") (joined
           (portRef (member ina 1))
           (portRef I (instanceRef ina_ibuf_0))
          ))
          (net (rename ina_c_1 "ina_c[1]") (joined
           (portRef O (instanceRef ina_ibuf_1))
           (portRef I0 (instanceRef out_5_e_1))
          ))
          (net (rename ina_1 "ina[1]") (joined
           (portRef (member ina 0))
           (portRef I (instanceRef ina_ibuf_1))
          ))
          (net (rename inb_c_0 "inb_c[0]") (joined
           (portRef O (instanceRef inb_ibuf_0))
           (portRef I1 (instanceRef out_5_e_0))
          ))
          (net (rename inb_0 "inb[0]") (joined
           (portRef (member inb 1))
           (portRef I (instanceRef inb_ibuf_0))
          ))
          (net (rename inb_c_1 "inb_c[1]") (joined
           (portRef O (instanceRef inb_ibuf_1))
           (portRef I1 (instanceRef out_5_e_1))
          ))
          (net (rename inb_1 "inb[1]") (joined
           (portRef (member inb 0))
           (portRef I (instanceRef inb_ibuf_1))
          ))
          (net scan_en_c (joined
           (portRef O (instanceRef scan_en_ibuf))
           (portRef I2 (instanceRef out_5_e_0))
           (portRef I2 (instanceRef out_5_e_1))
          ))
          (net scan_en (joined
           (portRef scan_en)
           (portRef I (instanceRef scan_en_ibuf))
          ))
          (net scan_in_c (joined
           (portRef O (instanceRef scan_in_ibuf))
           (portRef I3 (instanceRef out_5_e_0))
          ))
          (net scan_in (joined
           (portRef scan_in)
           (portRef I (instanceRef scan_in_ibuf))
          ))
          (net rst_c (joined
           (portRef O (instanceRef rst_ibuf))
           (portRef I4 (instanceRef out_5_e_0))
           (portRef I4 (instanceRef out_5_e_1))
          ))
          (net rst (joined
           (portRef rst)
           (portRef I (instanceRef rst_ibuf))
          ))
          (net scan_out (joined
           (portRef O (instanceRef scan_out_obuf))
           (portRef scan_out)
          ))
          (net (rename out_c_0 "out_c[0]") (joined
           (portRef Q (instanceRef outZ0Z_0))
           (portRef I (instanceRef out_obuf_0))
           (portRef I3 (instanceRef out_5_e_1))
          ))
          (net (rename out_0 "out[0]") (joined
           (portRef O (instanceRef out_obuf_0))
           (portRef (member out 1))
          ))
          (net (rename out_c_1 "out_c[1]") (joined
           (portRef Q (instanceRef outZ0Z_1))
           (portRef I (instanceRef scan_out_obuf))
           (portRef I (instanceRef out_obuf_1))
          ))
          (net (rename out_1 "out[1]") (joined
           (portRef O (instanceRef out_obuf_1))
           (portRef (member out 0))
          ))
          (net (rename clk_ibuf_isoZ0 "clk_ibuf_iso") (joined
           (portRef O (instanceRef clk_ibuf_iso))
           (portRef I (instanceRef clk_ibuf))
          ))
          (net (rename out_5_eZ0Z_0 "out_5_e[0]") (joined
           (portRef O (instanceRef out_5_e_0))
           (portRef D (instanceRef outZ0Z_0))
          ))
          (net (rename out_5_eZ0Z_1 "out_5_e[1]") (joined
           (portRef O (instanceRef out_5_e_1))
           (portRef D (instanceRef outZ0Z_1))
          ))
         )
        (property mapper_option (string ""))
        (property orig_inst_of (string "and_2bits"))
       )
    )
  )
  
